.panel {
  /* 외관 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid black;
  min-width: 30rem;
  max-width: 40rem;
  margin: 1rem; /* panel 자체가 외부와 떨어진 거리 */
  padding: 2rem; /* 내부 요소들이 테두리와 떨어진 거리 */

  /* 내부 요소들은 상하 정렬 */
  display: flex;
  flex-direction: column;

  /* panel 내부 요소들 사이의 상하 간격 */
  gap: 0.8rem;
}

.panel > .row {
  /* row 내부 요소들은 가로 정렬 */
  display: flex;
}

.panel > .row > .title {
  /* row를 설명하는 title */
  font-weight: 500;
  min-width: 10em; /* 고정폭 */
}
